
.icon_6em
{
    font-size: 6em;
}

.image_with_bottom_shadow {
  height: fit-content;
  position: relative;
  width: fit-content;
  color: white;
  z-index:1;
}
.image_with_bottom_shadow::after{
  content:"";
  position:absolute;
  background: linear-gradient(0deg, rgba(39,38,42,1) 0%, rgba(255,255,255,0) 60%);
  z-index:2;
  height:100%;
  width:100%;
  top:0;
  left:0;
}

.image_with_bottom_shadow__text {
  font-size: 2rem;
  position: absolute;
  bottom: 5%;
  left: 5%;
  line-height: 50px;
  z-index:3
}

.menu_background { 
  background-image: url("/images/system/menu_background.png");
  background-repeat: no-repeat;
  background-size: cover;
}